shoppingList/shoppingList.decode.json
shoppingList/debots/dabi.json
shoppingList/debots/dabi2.json
shoppingList/debots/FillingShoppingListDebot.keys.json
shoppingList/debots/PurchasingDebot.keys.json
shoppingList/debots/params.json
shoppingList/debots/params2.json
shoppingList/debots/log.log
shoppingList/debots/log2.log